# Copiar valores al Parameter Context de NiFi (sin commitear secretos reales)
# Renombrar a .env solo en tu máquina y excluir de git

KAFKA_BOOTSTRAP=localhost:9092
TOPIC_RAW=transporte_raw
TOPIC_FILTERED=transporte_filtered

OWM_API_KEY=REEMPLAZAR_CON_CLAVE_OPENWEATHER

HDFS_RAW_BASE=/user/hadoop/transporte_backup/nifi_raw

CASSANDRA_HOST=127.0.0.1

SPARK_HOME=/opt/spark
SPARK_MASTER=yarn
# Si no hay YARN: SPARK_MASTER=local
DEPLOY_MODE=client

PROJECT_ROOT=/home/hadoop/proyecto_transporte_global

HIVE_JDBC_URL=jdbc:hive2://localhost:10000/logistica_analytics
